.Rhistory
.RData
.Ruserdata
Chapter1/Colorado/Outputs/
Chapter1/Colorado/ColoradoState/*.csv
Chapter1/Colorado/ColoradoState/*.gif
Chapter1/Colorado/ColoradoState/Outputs/
Chapter1/Colorado/ICC_Colorado_files
Chapter1/Sandy/EastCoast/Outputs/
Chapter2/Data/
Chapter2/Sandy/Data/
Chapter2/Sandy/Outputs/
Chapter2/Harvey/Outputs/
Chapter2/*.html
.Rproj.user/
/cache/
info.svx
